.table {
   display: grid;
   grid-template-columns: repeat(4, auto);
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   margin-bottom: 20px;
}

.table_element {
   border: solid #d31c3e 1px;
   border-collapse: collapse;
   text-align: center;
   padding-top: 20px;
   height: 50px;
}

.table_element:nth-child(odd) {
   background: #282535;
}

.table_element:nth-child(even) {
   background: #1f1d29;
}

@media screen and (max-width: 900px) {
   .table_element {
      height:70px;
   }
}

