table, th, td {
   border: solid #d31c3e 1px;
   border-collapse: collapse;
}

th, td {
   text-align: center;
   /*background: #282535;*/
}

th {
   color: #d31c3e
}

th, td {
   padding: 10px;
}

tr {
   display: grid;
   grid-template-columns: repeat(4, auto); 
   grid-template-rows: repeat(7, auto); 
}

table {
   margin-left: auto;
   margin-right: auto;
   width: 80%;
   margin-bottom: 20px;
}

tr:nth-child(odd) {
   background: #282535;
}

tr:nth-child(even) {
   background: #1f1d29;
}

