.constructor {
   box-shadow: 0 7px 14px #1f1d29, 0 8px 5px #1f1d29;
   width: 60%;
   margin-left:auto;
   margin-right:auto;
}

.element {
   border: solid #d31c3e 1px;
   border-collapse: collapse;
   background: #1f1d29;
   display: flex;
}

.element p {
   margin-left: 10px;
}

.element input {
   margin-block-start: 2em;
   margin-left: 15px;
   border-radius: 50%;
}

.done {
   text-decoration: line-through;
}

.delete_button {
   margin-block-start: 1em;
   height: 50%;
   margin-left: auto;
   margin-right: 20px;
}


#todo_btn {
   width: 10%;
   height: 70px;
   border: solid #d31c3e 1px;
   border-collapse: collapse;
   background: #1f1d29;
   border-top-right-radius: 5px;
   color: white;
   font-size: 25px;
}

#todo_btn:hover {
   background: #d31c3e;
}

#todo {
   font-size: 25px;
   padding-left: 10px;
   width: 90%;
   height: 70px;
   border: solid #d31c3e 1px;
   border-collapse: collapse;
   color: white;
   background: #1f1d29;
   border-top-left-radius: 5px;
   box-sizing: border-box;
}

form {
   margin: 0;
   display: flex;
}

#constructor_result {
   margin-bottom: 20px;
}
