body {
   padding: 0;
   margin: 0;
   color: #ffffff;
   font-size: 130%;
   font-family: 'Open Sans', sans-serif;
   white-space: inherit;
}

footer {
   text-align: center;

}

.nav_el {
   font-size: 120%;
   line-height: 150%;
   padding: 1%;
   margin: 1%;
   text-transform: capitalize;
}

.logo {
   width: 318px;
   height: 266px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   box-shadow: 0 19px 38px #ffffff, 0 15px 12px #ffffff;
   margin-bottom: 10px;
}

#contact {
   padding-left: 25px;
}

.headline {
   margin: 0;
   padding: 10px;
}

.center {
   text-align: center;
}

.bg_1 {
   background: #1f1d29;
}

.bg_2 {
   background: #282535;
}

blockquote p {
   font-family: 'Lobster', cursive;
   word-spacing: 10px;
   font-weight: bold;
      font-style: oblique;
}

strong {
   color: #d31c3e;
}

h2 {
   text-align: center;
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}
a:link {
    color: #ffffff;
}
a:visited {
    color: #ffffff;
}
a:focus {
    background: #d31c3e
}
a:hover {
    background: #d31c3e
}

section {
   border: solid #d31c3e;
}
